{% extends 'base.html' %}

{% block container %}
  <main class="container mt-3">
    <div class="row mt-5">
      <div class="col-10 col-md-6 offset-1 offset-md-3 mb-3">
        <form action="/booking_done/" class="card mb-3" method="post">
          <div class="card-body text-center pt-5">
            <img src="../static/pict 1.png" class="mb-3" width="95" alt="">
            <h2 class="h5 card-title mt-2 mb-2">{{ profile.name }}</h2>
            <p class="my-1">Запись на пробный урок</p>
            <p class="my-1">{{ day_of_week }}, {{ time }}</p>
          </div>
          <hr />
          <div class="card-body mx-3">
              <div class="row">
                  <input class="form-control" type="hidden" name="clientWeekday" value="{{ day_of_week }}">
                  <input class="form-control" type="hidden" name="clientTime" value="{{ time }}">
                  <input class="form-control" type="hidden" name="clientTeacher" value="{{ profile.id }}">
              </div>

            <label class="mb-1 mt-2" for="clientName">Вас зовут</label>
            <input class="form-control" type="text" name="clientName" id="clientName">

            <label class="mb-1 mt-2" for="clientPhone">Ваш телефон</label>
            <input class="form-control" type="tel"  name="clientPhone" id="clientPhone">

            <input type="submit" class="btn btn-primary btn-block mt-4" value="Записаться на пробный урок">

          </div>
        </form>
      </div>
    </div>
  </main>
  {% endblock %}