{% extends 'base.html' %}

{% block container %}
  <main class="container mt-3">
    <!-- HERO -->
    <div class="row mt-5">
      <div class="col-10 col-md-7 offset-1 offset-md-3">
        <div class="card mb-4">
          <div class="card-body text-center pt-5">
            <img src="../static/check.png" class="mb-3" width="65" alt="">
            <h2 class="h3 card-title mt-4 mb-2">Отправлено!</h2>
            <p>Скоро мы вам перезвоним</p>
          </div>
          <hr />
          <div class="card-body mx-6">
            <p><b>Тема:</b> Пробный урок</p>
            <p><b>Дата:</b> {{ user_form.clientWeekday }}, {{ user_form.clientTime }}</p>
            <p><b>Имя:</b> {{ user_form.clientName }} </p>
            <p><b>Телефон:</b> {{ user_form.clientPhone }} </p>
          </div>
        </div>
      </div>
    </div>
  </main>
{% endblock %}